@import url('../responsive-slide/ResponsiveSlides.js-master/demo/demo.css');

@font-face {
	font-family: 'icones';
	src: url(../font/icones.ttf);
}

body {
	background: linear-gradient(1deg, #383838 -20%, #fff 70%);
	/* background-color: #F2F5F7; */
	font: 14px/20px "Montserrat", sans-serif;
	margin: auto auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

main {
	width: 89%;
	margin: auto auto;
}

.cabecalho {
	background-color: rgb(224, 224, 224);
	padding: 20px 0;
	display: flex;
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
	align-items: center;
}

.cabecalho .container {
	display: flex;
	align-items: center;
}

.cabecalho__titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalho__titulo-negrito {
	font-weight: 700;
	margin-left: 20px;
	text-align: center;
}

.cabecalho__principal {
	display: flex;
}

.menu {
	padding: .5rem;
	display: flex;
}

.menu .container {
	justify-content: center;
	width: 100%;
	height: auto;
	background-color: #9799A6;
}

.menu__principal {
	display: flex;
	justify-content: center;
	text-align: center;
}

.menu__principal a {
	text-decoration: none;
	color: inherit;
}

.menu__principal-link {
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	margin: .5rem;
	color: #FFF;
	margin-left: 1.8rem;
}

.banner__principal {
	margin-bottom: 50px;
	position: relative;
}

.rslides {
	border-radius: 4px;
}

.titulo__principal {
	font: 40px/60px "Montserrat", sans-serif;
	color: rgb(14, 14, 14);
	font-weight: 200;
}

.titulo__segundario {
	font: 16px/20px "Montserrat", sans-serif;
}

.caixas__mensagens {
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 340px;
}

.caixas__mensagens-titulos {
	font-size: 32px;
	margin: 10rem 0 5rem 0;
	text-align: center;
}

.caixas__conteudos {
	text-overflow: clip;
	white-space: wrap ;
	display: block;
}

.caixas__mensagens-caixa {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 300px;
}

.caixas__mensagens-conteudos {
	border-radius: 10px;
	width: 47%;
	height: 230px;
	background-color: #FFF;
	margin: 0.5%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
	text-overflow: ellipsis;
}

.caixas__mensagens-conteudos a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/*
.caixas__imagens-conteudos {
	width: 110% !important;
} */

.caixas__mensagens-texto {
	text-align: center;
	line-height: 1.5;
	overflow: hidden;
	writing-mode: sideways-rl;
	white-space: wrap;
}

.conteudo__informacao {
	margin-top: 4rem;
	width: 76%;
	height: 450px;
	background-color: #fff;

	z-index: -1;
}

.conteudo__informacao-2 {
	background-color: #616266;
	width: 44%;
	height: 340px;
	float: right;
	z-index: 1;
	bottom: 100px;
	position: relative;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1480px) {

	.cabecalho {
		background-color: #FFF;
		padding: 20px 0;
		display: flex;
		flex-direction: column;
	}

	.cabecalho__principal-link {
		padding: 10px;
		font-size: 19px;
		margin: 0 0 10px 10px;
		color: #616266;
		background-color: #FFF;
		transition: .5s;
		display: block;

		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.caixas__mensagens-conteudos {
		border-radius: 10px;
		width: 48%;
		height: 260px;
		background-color: #FFF;
		margin: 1%;
		transition: .3s;
		box-shadow: 2px 2px 2px #CCC;
		position: relative;
	}
}