@import url('../responsive-slide/ResponsiveSlides.js-master/demo/demo.css');



body {
	background: linear-gradient(1deg, hsl(218, 100%, 54%) -15%, #fff 70%);
	/* background-color: #F2F5F7; */
	font: 14px/20px "Montserrat", sans-serif;
	margin: auto auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
}

main {
	width: 89%;
	margin: auto auto;
}

.cabecalho {
	/* background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%); */
	background-color: rgb(203, 215, 255);
	display: flex;
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
	align-items: center;
}

.cabecalho .container {
	display: flex;
	align-items: center;
}
.logotipo {
	width: auto;
	max-height: 134px;
	padding: 0;
}

.cabecalho__principal {
	display: flex;
}

.menu {
	display: flex;
}

.menu .container {
	justify-content: center;
	width: 100%;
	height: auto;
	background-color: #bdc6ff;

}

.menu__principal {
	display: flex;
	justify-content: center;
	text-align: center;
}

.menu__principal a {
	text-decoration: none;
	color: inherit;
}

.menu__principal-link {
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	margin: .5rem;
	color: #FFF;
	margin-left: 1.8rem;
}

.banner__principal {
	position: relative;
	background: center;
	width: 50%;
	margin: auto auto;
}

.callbacks_nav {
	display: table;
}

#wrapper {
	width: 50% ;
	margin: auto auto;
}

.rslides {
	border-radius: 50%;
}

.titulo__principal {
	font: 40px/60px "Montserrat", sans-serif;
	color: rgb(14, 14, 14);
	font-weight: 200;
}

.titulo__segundario {
	font: 16px/20px "Montserrat", sans-serif;
}

.caixas__mensagens {
	margin-top: 20px;
	margin-bottom: 340px;
}

.caixas__mensagens-titulos {
	font-size: 32px;
	margin: 10rem 0 5rem 0;
	text-align: center;
}

.caixas__mensagens-caixa {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 300px;
}

.caixas__mensagens-conteudos {
	border-radius: 10px;
	width: 47%;
	height: 230px;
	background-color: #FFF;
	margin: 0.5%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}

.caixas__mensagens-imagens {
	background: center no-repeat;
	width: 100%;
	height: 100%;
}

.caixas__mensagens-conteudos a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	width: 100%;
	height: 100%;
}
/*
.caixas__imagens-conteudos {
	width: 110% !important;
} */

.caixas__mensagens-texto {
	text-align: center;
	line-height: 1.5;
	word-break: break-all;
	overflow: hidden;
}

.conteudo__informacao {
	margin-top: 4rem;
	width: 76%;
	height: 450px;
	background-color: #fff;
	z-index: -1;
}

.conteudo__informacao-2 {
	background-color: #616266;
	width: 44%;
	height: 340px;
	float: right;
	bottom: 100px;
	position: relative;
}

.circulo__conteudo {
	margin-top: 700px;
	text-align: center;

}

.circulo {
	width: 700px;
	height: 700px;
	border-radius: 50%;
	overflow: hidden;
	transition: .3s ease;
	margin: auto auto;
}

.circulo:hover {
	transform: rotateY(180deg);
}

.circulo__imagem {
	width: 100%;
	height: 100%;
	display: block	;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1480px) {

	.cabecalho {
		display: flex;
		flex-direction: column;
	}

	.cabecalho__principal-link {
		padding: 10px;
		font-size: 19px;
		margin: 0 0 10px 10px;
		color: #616266;
		background-color: #FFF;
		transition: .5s;
		display: block;

		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.caixas__mensagens-conteudos {
		border-radius: 10px;
		width: 48%;
		height: 260px;
		background-color: #FFF;
		margin: 1%;
		transition: .3s;
		box-shadow: 2px 2px 2px #CCC;
		position: relative;
	}
}